<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Basics (Good)</span></div>

## 1 More Python Basics

### 1.1 Computers read = from Right to Left!

In [1]:
y = 40
y = y + 2
print(y)

42

In [10]:
y = 40
y + 2 = y
print(y)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3414305296.py, line 2)

In [12]:
X = 40
y + 2 =  X
print(y)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (693196750.py, line 2)

In [13]:
X = 40
X + 2 =  y
print(y)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2530700255.py, line 2)

In [14]:
X = 40
X =  y + 2 #Old value of y is being stored and used
print(y)

42

### 1.2 Shorter and cleaner

In [15]:
y = 40
y += 2    # Same as y = y + 2
y

42

In [17]:
y = 40
y -= 2    # Same as y = y + 2
y

38

In [18]:
y = 40
y /= 2    # Same as y = y + 2
y

20.0

In [20]:
y = 40
y %= 2    # Same as y = y + 2
y

0

In [21]:
y = 40
y *= 2    # Same as y = y * 2
y

80

### 1.3 Asking questions

In [37]:
fruits = ["apple", "banana", "pineapple", "jackfruit"]
vegetables = ["celery", "potato", "broccoli", "kale"]
"apple" in fruits
"celery" in fruits
("apple" in fruits) and ("celery" in vegetables)
("apple" in fruits) or ("celery" in vegetables)

True

In [38]:
"apple" in fruits

True

### 1.4 There is more to if

In [40]:
name = 'Chicken'

if name == 'Batman':
    print('Hello Hero | Batman!')
elif name == 'Robin':
    print('Hello Sidekick | Robin!')
else:
    print('Hello World!')

Hello World!

### 1.5 Python stores information in different formats or types.

In [41]:
x = int(1.234)
print(x, type(x))

1 <class 'int'>

In [43]:
x = str(1.234)
print(x, type(x))
y = x + 2

1.234 <class 'str'>

TypeError: can only concatenate str (not "int") to str

In [44]:
x = float(1.234)
print(x, type(x))

1.234 <class 'float'>

In [45]:
x = complex(1.234)
print(x, type(x))

(1.234+0j) <class 'complex'>

In [48]:
x = '1.234'
print(x, type(x))
x = float(x)
print(x, type(x))

1.234 <class 'str'>
1.234 <class 'float'>

### 1.6 Combining English and variables

In [51]:

name = "Batman"
print(f"Hello {name}!")

Hello Batman!

In [52]:
name = "Batman"
print(f"Hello {name.upper()}!")

Hello BATMAN!

In [53]:
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

In [56]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')
print(f'{text:>30}')  
print(f'{text:^30}') 
print(f'{text:<30}')

Bruce Wayne is Batman.
        Bruce Wayne is Batman.
    Bruce Wayne is Batman.
Bruce Wayne is Batman.

In [58]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')

The cube of pi to 6 decimal places is 31.006277
The cube of pi to 6 decimal places is 3.100628e+01

### 1.7 Python can be a prima-donna.

In [59]:

# ok letsgo

## 2 Best Practices for Scientific Computing

### 2.1 Some tips

In [ ]:

# noted

### 2.2 Getting help.

In [ ]:

# ok also

## Exercise 1 :  Bias for some heroes

In [13]:

def hello(name):
    if name == "Batman" or name == "Black Widow":
        print("Hello", name.upper())
    
    else:
        print("Hello", name.lower())

hello("Black Widow")
hello("Aqua Man")

Hello BLACK WIDOW
Hello aqua man

In [19]:

def hello(name):
    if name == "Batman" :
        print("Hello", name.upper())
    elif name == "Black Widow" :
        print("Hello", name.upper())
    else:
        print("Hello", name.lower())

hello("Black Widow")
hello("Aqua Man")

Hello BLACK WIDOW
Hello aqua man

## Exercise 2 :  Bias for some heroes, continues

In [28]:
def hello(name):
    name = name.upper ()
    if name == "BATMAN" :
        print("Hello", name.upper())
    else:
        print("Hello", name.lower())

hello("BatMan")

Hello BATMAN

In [29]:
def hello(name.upper()):
    if name == "BATMAN" :
        print("Hello", name.upper())
    else:
        print("Hello", name.lower())

hello("BatMan")

SyntaxError: invalid syntax (2056781779.py, line 1)

## Exercise 3 :  Look for help to replace

In [39]:
sentence = "The Joker lives in Gotham City."
new_sentence = sentence.replace("Joker", "Batman")
print (new_sentence)

The Batman lives in Gotham City.